asgiref==3.10.0
black==25.9.0
click==8.3.0
colorama==0.4.6
crispy-bootstrap5==2025.6
Django==5.0.14
django-crispy-forms==2.4
django-debug-toolbar==6.1.0
introcs==1.0
joblib==1.5.2
mypy_extensions==1.1.0
numpy==1.26.3
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
pygame==2.5.2
pytokens==0.2.0
scikit-learn==1.7.2
scipy==1.16.2
setuptools==69.0.3
sqlparse==0.5.3
threadpoolctl==3.6.0
tomli==2.3.0
typing_extensions==4.15.0
tzdata==2025.2